<p *ngIf="!adminService.getAdminToken()">
  <mat-toolbar class="navhead">
    <div class="logo">Logistic <span>Aggregator</span></div>
    <ul>
      <li><a routerLink="/" routerLinkActive="active"><i class="fa fa-home"></i> Home</a></li>
      <li><a routerLink="/dashboard" routerLinkActive="active"><i class="fas fa-shipping-fast"></i> Service</a></li>
      <li><a routerLink="/service-partner" routerLinkActive="active"><i class="fas fa-search"></i> Search Service
          Partner</a>
      </li>
      <li><a routerLink="/contactUs" routerLinkActive="active"><i class="fas fa-phone-alt"></i> Contact Us</a></li>
    </ul>
    <span class="example-spacer"></span>
    <button mat-raised-button routerLink="/signin" *ngIf="!_authService.loggedIn()" class="btn">Sign in</button>
    <button mat-raised-button routerLink="/signup" *ngIf="!_authService.loggedIn()" class="btn">Sign Up</button>
    <div *ngIf="_authService.loggedIn()">
      <button mat-raised-button style="cursor: pointer;" class="btn" (click)="false">Welcome
        {{_authService.getUserName()}}</button>
      <button mat-raised-button style="cursor: pointer;" class="btn" (click)="_authService.logoutUser()">Logout</button>
    </div>
  </mat-toolbar>
</p>

<div *ngIf="adminService.getAdminToken()">
  <button mat-button (click)="adminService.adminLoggedOut()">Logout</button>
</div>