<div class="container">
  <div class="hotel_content">
    <div class="info">
      <h2>Search</h2>
    </div>
    <div class="booking_info">
      <form>
        <div class="booking_details">
          <div class="item">
            From
            <br>
            <input type="text" placeholder="Enter Source" />
          </div>
          <div class="item">
            To
            <br>
            <input type="text" placeholder="Enter Destination" />
          </div>
          <div class="item">
            Weight
            <br>
            <input type="text" placeholder="Enter Weight" />
          </div>
        </div>
      </form>
      <button class="bttn3" (click)="search()">Search</button>
    </div>
  </div>
  <div style="z-index: 5; margin: 0 auto; background-color: aliceblue;">
    <!-- {{data | json}} -->
    <table>
      <tr>
        <th>ID</th>
        <th>Source</th>
        <th>Destination</th>
        <th>Price</th>
      </tr>
      <tbody>
        <tr *ngFor="let data of data">
          <td>{{ data._id }}</td>
          <td>{{ data.source }}</td>
          <td>{{ data.des }}</td>
          <td>{{ data.price | json}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <img src="../../assets/img/hotel.png" class="hotel" alt="">
  <img src="../../assets/img/car2.png" class="car2" alt="">
  <img src="../../assets/img/undraw_aircraft_fbvl.svg" class="flight" alt="">
  <img src="../../assets/img/car4.png" class="car4" alt="">
  <img src="../../assets/img/dog.gif" class="dog_1" alt="">
  <img src="../../assets/img/cloud.png" class="cloud" alt="">
  <img src="../../assets/img/cloud.png" class="cloud_2" alt="">
  <img src="../../assets/img/cloud.png" class="cloud_3" alt="">
  <img src="../../assets/img/cloud.png" class="cloud_4" alt="">
</div>