<div class="container">
  <div class="hotel_content">
    <div class="info">
      <h2>Calculate Price</h2>
    </div>
    <div class="booking_info">
      <div class="opt">
        <button class="bttn2">Flight</button>
        <button class="bttn2">Rail</button>
        <button class="bttn2">Road</button>
      </div>
      <form [formGroup]="data" (ngSubmit)="onSubmit()">
        <div class="booking_details">
          <div class="item">
            From
            <br>
            <input type="text" placeholder="Enter Source" formControlName="src" list="Sources" />
            <datalist id="Sources">
              <option *ngFor="let item of allDataSrc " value="{{item}}">
            </datalist>
          </div>
          <div class="item">
            To
            <br>
            <input type="text" placeholder="Enter Destination" formControlName="des" list="Destination" />
            <datalist id="Destination">
              <option *ngFor="let item2 of allDataDes " value="{{item2}}">
            </datalist>
          </div>
          <div class="item">
            Weight
            <br>
            <input type="text" placeholder="Enter Weight" formControlName="kg" />
          </div>
          <div class="item">
            Price
            <br>
            <input type="text" placeholder="Price = {{price}}" disabled />
          </div>
        </div>
        <button type="submit" class="bttn3">Calculate</button>
      </form>
    </div>
  </div>
  <img src="../../assets/img/hotel.png" class="hotel" alt="">
  <img src="../../assets/img/car2.png" class="car2" alt="">
  <img src="../../assets/img/undraw_aircraft_fbvl.svg" class="flight" alt="">
  <img src="../../assets/img/car4.png" class="car4" alt="">
  <img src="../../assets/img/dog.gif" class="dog_1" alt="">
  <img src="../../assets/img/cloud.png" class="cloud" alt="">
  <img src="../../assets/img/cloud.png" class="cloud_2" alt="">
  <img src="../../assets/img/cloud.png" class="cloud_3" alt="">
  <img src="../../assets/img/cloud.png" class="cloud_4" alt="">
</div>