<div class="container">
    <div class="card-div">
        <h1>
            <b>
                <span style="color:#241a71 ;">WELCOME </span>
                <span style="color:red">TO </span>
                <span style="color:#241a71 ;">LOGISTIC</span>
                <span style="color:red"> AGENCY</span>
            </b>
        </h1>
        <h2 style="text-align: center; color:#241a71;">
            <b>Fastest
                <span style="color:red">Courier</span>
                Service
                <h1><img src="https://c.tenor.com/t7k-zduF2FgAAAAj/ups-ups-apac.gif"></h1>
            </b>
            Get Started
        </h2>
    </div>
    <img src="../../assets/img/hotel.png" class="hotel" alt="">
    <img src="../../assets/img/car2.png" class="car2" alt="">
    <img src="../../assets/img/undraw_aircraft_fbvl.svg" class="flight" alt="">
    <img src="../../assets/img/car4.png" class="car4" alt="">
    <img src="../../assets/img/dog.gif" class="dog_1" alt="">
    <img src="../../assets/img/cloud.png" class="cloud" alt="">
    <img src="../../assets/img/cloud.png" class="cloud_2" alt="">
    <img src="../../assets/img/cloud.png" class="cloud_3" alt="">
    <img src="../../assets/img/cloud.png" class="cloud_4" alt="">
</div>