<div class="container">
 <div fxLayoutAlign="center" class="card-div">
    <mat-card >
        <mat-card-title>
            Welcome
        </mat-card-title>
        hello
    </mat-card>
 </div>
  <img src="../../assets/img/hotel.png" class="hotel" alt="">
  <img src="../../assets/img/car2.png" class="car2" alt="">
  <img src="../../assets/img/undraw_aircraft_fbvl.svg" class="flight" alt="">
  <img src="../../assets/img/car4.png" class="car4" alt="">
  <img src="../../assets/img/dog.gif" class="dog_1" alt="">
  <img src="../../assets/img/cloud.png" class="cloud" alt="">
  <img src="../../assets/img/cloud.png" class="cloud_2" alt="">
  <img src="../../assets/img/cloud.png" class="cloud_3" alt="">
  <img src="../../assets/img/cloud.png" class="cloud_4" alt="">
</div>
