<div class="container">
    <div class="Heading">
        <h1>Courier Services Partner</h1>
    </div>
    <div class="tablediv">
        <div class="row">
            <div class="col">
                <table id="cour">
                    <thead>
                        <tr>
                            <th>SNO</th>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Weblink</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{product1.id}}</td>
                            <td><img [src]="product1.image" alt="" width="70" height="70"></td>
                            <td>{{product1.name}}</td>
                            <td><a href="https://www.shiprocket.in/" target="_blank">Visit shiprocket.com!</a></td>
                        </tr>
                        <tr>
                            <td>{{product2.id}}</td>
                            <td><img [src]="product2.image" alt="" width="70" height="70"></td>
                            <td>{{product2.name}}</td>
                            <td><a href="https://www.bluedart.com/" target="_blank">Visit Bluedart.com!</a></td>
                        </tr>
                        <tr>
                            <td>{{product3.id}}</td>
                            <td><img [src]="product3.image" alt="" width="70" height="70"></td>
                            <td>{{product3.name}}</td>
                            <td><a href="https://www.delhivery.com/" target="_blank">Visit Delhivery.com!</a></td>
                        </tr>
                        <tr>
                            <td>{{product4.id}}</td>
                            <td><img [src]="product4.image" alt="" width="70" height="70"></td>
                            <td>{{product4.name}}</td>
                            <td><a href="https://dotzot.in/" target="_blank">Visit DotZot.com!</a></td>
                        </tr>
                        <tr>
                            <td>{{product5.id}}</td>
                            <td><img [src]="product5.image" alt="" width="70" height="70"></td>
                            <td>{{product5.name}}</td>
                            <td><a href="https://www.gati.com/" target="_blank">Visit Gati.com!</a></td>
                        </tr>
                        <tr>
                            <td>{{product6.id}}</td>
                            <td><img [src]="product6.image" alt="" width="70" height="70"></td>
                            <td>{{product6.name}}</td>
                            <td><a href="https://www.dhl.com/en.html" target="_blank">Visit DHL.com!</a></td>
                        </tr>
                        <tr>
                            <td>{{product7.id}}</td>
                            <td><img [src]="product7.image" alt="" width="70" height="70"></td>
                            <td>{{product7.name}}</td>
                            <td><a href="https://www.fedex.com/" target="_blank">Visit FedEx.com!</a></td>
                        </tr>
                        <tr>
                            <td>{{product8.id}}</td>
                            <td><img [src]="product8.image" alt="" width="70" height="70"></td>
                            <td>{{product8.name}}</td>
                            <td><a href="https://www.xpressbees.com/" target="_blank">Visit XpressBees.com!</a></td>
                        </tr>
                        <tr>
                            <td>{{product9.id}}</td>
                            <td><img [src]="product9.image" alt="" width="70" height="70"></td>
                            <td>{{product9.name}}</td>
                            <td><a href="https://ecomexpress.in/" target="_blank">Visit Ecom Express.com!</a></td>
                        </tr>
                        <tr>
                            <td>{{product10.id}}</td>
                            <td><img [src]="product10.image" alt="" width="70" height="70"></td>
                            <td>{{product10.name}}</td>
                            <td><a href="https://www.wowexpress.in/" target="_blank">Visit Wow Express.com!</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>